@charset "utf-8";
/**/
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 54px;
    transition: 0.3s ease-in-out height;
}
.header-area{
    height: 54px;
}
.header-area.fixed{
    height: 54px;
}
#header > .logo{
    margin-left: 20px;
    transition: 0.3s ease-in-out all;
}
#header > .logo > a{
    display: block;
    height: 32px;
    transition: 0.3s ease-in-out all;
}
#header > .logo > a > img{
    height: 100%;
    vertical-align: top;
}
#header > .h-menus{
    display: flex;
    align-items: center;
}
#header > .h-menus > li {
    margin-left: 18px;
    cursor: pointer;
}
#header > .h-menus > li:first-child{
    margin-left: 0;
}
#header > .h-menus > li > a{
    display: block;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 5px;
    color: #0121E3;
    transition: 0.3s ease-in-out all;
}
#header > .h-menus > li > a.contact{
    background: #0121E3;
    color: #fff;
}
/*footer*/
#footer{
    position: relative;
    background: #0121E3;
    padding: 40px 20px 80px 20px;
    display: block;
    text-align: left;
}
#footer > .company{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}
#footer > .f-logo{
    height: 30px;
    margin-top: 43px;
}
#footer > .f-logo > img{
    height: 100%;
    vertical-align: top;
}

/*메인페이지*/
.section{
    position: relative;
}
.section-inner{
    position: relative;
    overflow: hidden;
}
#main-page{
    position: relative;
}
#main-page .section01{
    height: calc(100vh - 54px);
}
#main-page .section01 > .section-inner{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
#main-page .section01 .text-wrap{
    text-align: left;
    padding: 0 20px;
    padding-top: 48px;
    flex-grow:1;
}
#main-page .section01 .text-wrap > h3{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    color: #0121E3;
}
#main-page .section01 .text-wrap > p{
    position: relative;
    margin-top: 31px;
    padding-top: 19px;
    font-family: 'GmarketSans';
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #0121E3;
}
#main-page .section01 .text-wrap > p::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 1px;
    background: #0121E3;
}
#main-page .section01 .main-visual{
    flex-grow:1;
    position: relative;
    margin-top: 48px;
    width: 100%;
    height: 100%;
    background-color: #0121E3;
    background-image: url('../imgs/main_visual_bg.jpg');
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: auto 100%;
    animation: bg-move-right 60s ease-in-out infinite;
}
#main-page .section01 .scroll-line{
    position: absolute;
    bottom: 16px;
    left: 50%;
    right: auto;
    transform: translate(-50%,0);
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 71px;
    color: #fff;
    z-index: 55;
    animation: scroll-text-bounce 3s ease-in-out infinite;
}
#main-page .section01 .scroll-line::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 1px;
    height: 60px;
    background: #fff;
    animation: scroll-line-height 3s infinite;
}

#main-page .section02{
    background: #fff;
}
#main-page .section02 > .section-inner{
    padding-top: 48px;
}
#main-page .section02 .section-title-wrap{
    position: relative;
    padding: 0 20px;
}
#main-page .section02 .section-title-wrap > h3{
    position: relative;
    text-align: left;
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: #0121E3;
    z-index: 55;
}
#main-page .section02 .section-title-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 90%;
    height: 140px;
    background: url('../imgs/main_section02_title_bg.png')no-repeat center center;
    background-size: 100%;
}
#main-page .section02 .pofol-swiper{
    position: relative;
    margin-top: 20px;
}
#main-page .section02 .pofol-swiper .swiper-slide{
    position: relative;
    width: 260px;
    box-sizing: content-box;
    margin-right: 20px;
    cursor: pointer;
}
#main-page .section02 .pofol-swiper .swiper-slide:first-child{
    padding-left: 20px;
}
#main-page .section02 .pofol-swiper .swiper-slide > a .thumb{
    position: relative;
}
#main-page .section02 .pofol-swiper .swiper-slide > a .thumb > img{
    width: 100%;
    vertical-align: top;
}
#main-page .section02 .pofol-swiper .swiper-slide > a .thumb > .title-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: left;
    z-index: 55;
    transition: 0.3s ease-in-out height;
}
#main-page .section02 .pofol-swiper .swiper-slide > a .thumb > .title-wrap > h6{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
#main-page .section02 .pofol-swiper .swiper-slide > a .thumb > .title-wrap > .tags{
    display: none;
}
#main-page .section02 .pofol-swiper .swiper-slide > a .thumb > .title-wrap > .tags > span{
    display: inline-block;
    vertical-align: top;
    font-family: 'GmarketSans';
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: #fff;
    margin: 5px;
}
#main-page .section02 .pofol-swiper .swiper-slide:hover > a .thumb > .title-wrap,
#main-page .section02 .pofol-swiper .swiper-slide.active > a .thumb > .title-wrap{
    height: 100%;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    background: rgba(1, 3, 277, 0.5);
}
#main-page .section02 .pofol-swiper .swiper-slide:hover > a .thumb > img,
#main-page .section02 .pofol-swiper .swiper-slide.active > a .thumb > img{
    filter: grayscale(100%);
}
#main-page .section02 .pofol-swiper .swiper-slide:hover > a .thumb > .title-wrap > .tags,
#main-page .section02 .pofol-swiper .swiper-slide.active > a .thumb > .title-wrap > .tags{
    display: block;
    margin-top: 20px;
}
#main-page .section02 .btn-wrap{
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;
}
#main-page .section02 .btn-wrap > .btn-more{
    display: inline-block;
    position: relative;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #0121E3;
}
#main-page .section02 .btn-wrap > .btn-more::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 1px;
    background: #0121E3;
    transition: 0.3s ease-in-out all;
}
#main-page .section02 .btn-wrap > .btn-more:hover::after{
    width: 100%;
}
#main-page .section03{
    margin-top: 74px;
}
#main-page .section03 .skill-list-wrap{
    cursor: pointer;
    background: linear-gradient(88.78deg, #0121E3 2.09%, rgba(255, 255, 255, 0) 97.91%);
}
#main-page .section03 .skill-list-wrap .marquee > p{
    cursor: pointer;
    padding: 10px 0;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    color: #0121E3;
}
#main-page .section03 .skill-list-wrap .marquee:hover > p{
    color: #fff;
}
#main-page .section03 .section-title-wrap{
    position: relative;
    padding: 0 20px;
    margin-top: 37px;
}
#main-page .section03 .section-title-wrap > h3{
    position: relative;
    text-align: left;
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: #0121E3;
    z-index: 55;
}
#main-page .section03 .contact-container {
    margin-bottom: 60px;
}
#main-page .section03 .contact-container .contact-wrap{
    position: relative;
    margin-top: 20px;
}
#main-page .section03 .contact-container .contact-wrap > ul{
    display: block;
    border-top: 1px solid #0121E3;
    border-bottom: 1px solid #0121E3;
}
#main-page .section03 .contact-container .contact-wrap > ul > li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 48px 20px;
}
#main-page .section03 .contact-container .contact-wrap > ul > li:first-child{
    border-bottom: 1px solid #0121E3;
}
#main-page .section03 .contact-container .contact-wrap > ul > li > h6{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #0121E3;
}
#main-page .section03 .contact-container .contact-wrap > ul > li > p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #0121E3;
}
#main-page .section03 .contact-container .contact-wrap > ul > li > p > a:hover{
    text-decoration: underline;
}
#main-page .section03 .contact-container .contact-wrap > .sticker{
    width: 118px;
    position: absolute;
    top: -59px;
    right: 13px;
}
#main-page .section03 .contact-container .contact-wrap > .sticker > img{
    width: 100%;
    vertical-align: top;
    animation: rotate_image 20s linear infinite;
    transform-origin: 50% 50%;
}
.main-bottom-thankyou{
    font-size: 40px;
    font-weight: 300;
    color: #0121E3;
    padding-bottom: 60px;
}
.swiper-button-next:after, .swiper-button-prev:after{
   display: none;
}
.swiper-button-next,.swiper-button-prev{
    background: url('../imgs/arr_swiper.png')no-repeat center center;
    background-size: auto 20px;
    width: 40px !important;
    height: 40px !important;
    background-color: #0121E3;
}
.swiper-button-prev{
    transform: rotate(180deg);
}
/*contact*/
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 9999;
    background: url('../imgs/modal_contact_bg.png')no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.modal-container .contact-container{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.contact-wrap{
    width: 100%;
    height: 100%;
}
.contact-wrap .info{
    margin-top: 40px;
    background: #fff;
}
.contact-wrap .info{
    display: block;
}
.contact-wrap .info > li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 40px 20px;
}
.contact-wrap .info > li:first-child{
    padding-bottom: 0;
}
.contact-wrap .info > li > h6{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #0121E3;
}
.contact-wrap .info > li > p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #0121E3;
}
.contact-wrap .info > li > p > a:hover{
    text-decoration: underline;
}
.contact-wrap .info > li.location{
    padding-top: 0;
}
.contact-wrap .info > li.location > p{
    font-family: 'GmarketSans';
    font-weight: 500;
    line-height: 1.6em;
}
.contact-wrap .box > .top{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-wrap .box > .top > .logo > img{
    height: 40px;
}
.contact-wrap .box > .top > button{
    font-size: 0px;
    text-indent: -9999px;
    background-image: url('../imgs/icon_delete.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contact-wrap .box > h4{
    color: #fff;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
}

/*포트폴리오 페이지*/
#portfolio-page{
    padding-bottom: 80px;
}
#portfolio-page.page-container .page-inner{
    position: relative;
    padding-top: 40px;
}
.page-container .page-title{
    display: inline-block;
    position: relative;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: #0121E3;
}
.page-container .page-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #0121E3;
}
.tags-select-box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-top: 20px;
}
.tags-select-box > li{
    margin: 8px;
}
.tags-select-box > li > button{
    padding: 8px 10px;
    border: 1px solid #0121E3;
    box-sizing: border-box;
    font-family: 'GmarketSans';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #0121E3;
}
.tags-select-box > li > button.active{
    background: #0121E3;
    color: #fff;
}
.portfolio-list-container{
    margin-top: 32px;
}
.portfolio-list-wrap{
    padding: 0 20px;
}
.portfolio-list-wrap > li{
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    box-sizing: content-box;
    cursor: pointer;
    overflow: hidden;
}
.portfolio-list-wrap > li > a{
   display: block;
}
.portfolio-list-wrap > li > a .thumb{
    position: relative;
}
.portfolio-list-wrap > li > a .thumb > img{
    width: 100%;
    vertical-align: top;
}
.portfolio-list-wrap > li > a .thumb > .title-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: left;
    z-index: 55;
    transition: 0.3s ease-in-out height;
}
.portfolio-list-wrap > li > a .thumb > .title-wrap > h6{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.portfolio-list-wrap > li > a .thumb > .title-wrap > .tags{
    display: none;
}
.portfolio-list-wrap > li > a .thumb > .title-wrap > .tags > span{
    display: inline-block;
    vertical-align: top;
    font-family: 'GmarketSans';
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: #fff;
    margin: 5px;
}
.portfolio-list-wrap > li:hover > a .thumb > .title-wrap,
.portfolio-list-wrap > li.active > a .thumb > .title-wrap{
    height: 100%;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    background: rgba(1, 33, 277, 0.8);
}
.portfolio-list-wrap > li:hover > a .thumb > img,
.portfolio-list-wrap > li.active > a .thumb > img{
    filter: grayscale(100%);
    opacity: 0.8;
}
.portfolio-list-wrap > li:hover > a .thumb > .title-wrap > .tags,
.portfolio-list-wrap > li.active > a .thumb > .title-wrap > .tags{
    display: block;
    margin-top: 20px;
}

/*404 페이지*/
.notfonund-page{
    padding-top: 80px;
    padding-bottom: 300px;
    box-sizing: border-box;
}
.notfonund-page .text-wrap > h4{
    font-family: 'Poppins';
    font-size: 80px;
    font-weight: bold;
    color: #0121E3;
    opacity: 0.25;
    letter-spacing: -0.06em;
}
.notfonund-page .text-wrap > h5{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #0121E3;
}
.notfonund-page .text-wrap > p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.3em;
    color: #999;
}
.notfonund-page .btn-wrap{
    margin-top: 40px;
}
.notfonund-page .btn-wrap > a{
    padding: 10px 20px;
    border: 1px solid #0121E3;
    color: #0121E3;
    box-sizing: border-box;
    border-radius: 30px;
    transition: 0.3s ease-in-out all;
    font-size: 16px;
}
.notfonund-page .btn-wrap > a:hover{
    background: #0121E3;
    color: #fff;
}
/*상세 페이지*/
.detail-page {
    padding-bottom: 120px;

}
.detail-page .cover-wrap > img{
    width: 100%;
    vertical-align: top;
    transition: 0.3 ease-in-out all;
}
.detail-page .text-wrap{
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
}
.detail-page .text-wrap > h2{
    line-height: 1.6em;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.detail-page .text-wrap > p{
    margin-top: 5px;
    line-height: 1.6em;
    font-size:16px;
    font-weight: 300;
    color: #999;
}
.detail-page .tags-wrap{
    position: relative;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}
.detail-page .tags-wrap > li{
    padding: 5px 10px;
    font-size: 14px;
    background: rgba(1, 33, 227, 0.1);
    color: #0121E3;
    border-radius: 20px;
}
.detail-page .tags-wrap > li:first-child{
    margin-left: 0;
}
.detail-page .content-wrap{
    position: relative;
    margin-top: 40px;
    width: 100%;
    transition: 0.5s ease-in-out padding;
}
.detail-page .content-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 0;
    transform: translateX(-50%);
    background: #e9ebf8;
    transition: 0.5s ease-in-out height;
}
.detail-page .content-wrap .content-img {
    margin-bottom: 10px;
}
.detail-page .content-wrap .content-img > img {
    width: 100%;
    vertical-align: top;
}
.port-go{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    font-size: 0px;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: rgba( 5, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    background-size: 50% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../imgs/arr_port_go.png');
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.port-go.next{
    right: 10px;
}
.port-go.prev{
    left: 10px;
    transform: rotate(180deg);
}